/* ==========================================================================
  CSS Rules required to style the content like the font-color, background etc.
	Dark Theme
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Lato');
html, body {
	font-family: 'Lato', sans-serif;
  background-color: #E9E7DA;
}

.header-container {
  background-color: #CDA34F;
	border-bottom-color: white;
  color: white;
}

.main-container {
  border-color: #bbb;
  color: #eee;
}

.item-description {
  color:#000;
  font-weight: bold;
  font-size: 125%;
}

.item table {
	color: #eee;
}

.form-item-container .button {
		color: black;
}

select {
  color: black;
}

table {
  border:none;
}

table th, table tr {
  border:none;	
  background-color: #E37222;
}

table td {
  border:none;
  background-color: #07889B;
}

.zeroPadding
{
    padding:0em;
}

input[type=submit]
{
    border-color: #373F27;
    background-color: #373F27;
    color: white;
}
input[type=submit]:hover
{
    background-color: #636B46;
    color: white;
}

select#subjects , select#halls
{
   border-color: #0F1626;
   color: #0F1626;
   font-size: 1.35em;
   background-color: transparent;
   background-image: url("../img/Select.png");
   background-position: 97% center;
   background-repeat: no-repeat;
   -webkit-appearance: button;  
}




