/* ==========================================================================
  CSS Rules required to style the content like the font-color, background etc.
  Light Theme
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Lato');
html, body {
  font-family: 'Lato', sans-serif; 
  background-color: #dadbdf;
}

.header-container {
  background-color: #036;
	border-bottom-color: white;
  color: rgba(255, 255, 255, 0.75);
}

.main-container {
  border-color: #bbb;
  color:#069;
}

.item-description {
  font-weight: bold;
  font-size: 125%;
}

.item table {
		color: #eee;
}

.form-item-container .button {
		color: black;
}

select {
  color: black;
}

table {
  border-color: #ccc;
}

table th{
  border-color:#036;
  background-color:  #036;
}


table td{
  border-color: #c69;
  background-color:  #c69;
}

input[type=submit]
{
    border-color: #ff3b3f;
    background-color: #ff3b3f;
    color: white;
}
input[type=submit]:hover
{
    background-color: #76323f;
    border-color: #76323f;
}
