/* ==========================================================================
  CSS Rules required to style the content like the font-color, background etc.
	Dark Theme
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Lato');
html, body {
	font-family: 'Lato', sans-serif;
  background-color: #AB987A;
}

.header-container {
  background-color: #0F1626;
	border-bottom-color: white;
  color: white;
}

.main-container {
  border-color: #bbb;
  color: #eee;
}

.item-description {
  font-weight: bold;
  font-size: 125%;
}

.item table {
		color: #eee;
}

.form-item-container .button {
		color: black;
}

select {
  color: black;
}

table {
  border-color: #E24E42;
}

table th, table tr {
  border-color: #fff;
  background-color: #0A1612;
}

table td {
  border-color: #fff;
  background-color: #1A2930;
}

input[type=submit]
{
    background-color: #031424;
    color: white;
}
