/* ==========================================================================
  CSS Rules required for a sleek radio button
   ========================================================================== */

.css-radio  .css-button {
  display: inline-block;
  position: relative;
}

.css-radio .css-button input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.css-radio .css-button label {
  display: block;
  padding: 0.25em 0;
  cursor: pointer;
  transition: color 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.css-radio .css-button .css-button-label-container {
  border: 0.1em solid;
  border-radius: 0.4em;
  margin: 0 1.5em;
  text-align: center;
  transition: border 0.25s linear;
}

.css-radio .css-button .css-button-label-container:hover  {
  border: 0.1em solid;
  border-radius: 0.4em;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container {
  border: 0.1em solid;
  border-radius: 0.4em;
}
