/* ==========================================================================
  CSS Rules required for a styling the sleek radio button
   ========================================================================== */
#date-radio .css-button label {
  font-size: 1.35em;
}

#date-radio .css-button:hover label {
  color: #fff;
}

#date-radio .css-button:hover .check {
  border-color: #fff;
}

#date-radio .css-button input[type=radio]:checked ~ .check {
  border-color: #0DFF92;
}

#date-radio .css-button input[type=radio]:checked ~ .check .check-inside {
  background: #0DFF92;
}

#date-radio .css-button input[type=radio]:checked{
  color: #0DFF92;
}
