/* ==========================================================================
  CSS Rules required for a styling the sleek radio button
   ========================================================================== */
.css-radio .css-button label {
  font-size: 1.35em;
  color: #c69;
}

.css-radio .css-button .css-button-label-container {
  border-color: #c69;
}

.css-radio .css-button:hover label {
  color: #036;
}

.css-radio .css-button:hover .css-button-label-container {
  border-color: #036;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container {
  border-color: #036;
  background-color:#036;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container label {
  color: #fff;
}
