/* ==========================================================================
  CSS Rules required for a sleek radio button
   ========================================================================== */

#date-radio  .css-button {
  display: inline-block;
  position: relative;
}

#date-radio .css-button input[type=radio] {
  margin: 0.75em;
  position: absolute;
  visibility: hidden;
}

#date-radio .css-button label {
  display: block;
  position: relative;
  font-size: 1.35em;
  padding: 0.25em 0.25em 0.25em 3em;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#date-radio .css-button:hover label {
  color: #FFFFFF;
}

#date-radio .css-button .check {
  display: block;
  position: absolute;
  border: 0.4em solid #aaa;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  top: 0.1em;
  left: 1em;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

#date-radio .css-button:hover .check {
  border: 0.4em solid #FFFFFF;
}

#date-radio .css-button .check .check-inside {
  border-radius: 100%;
  height: 1em;
  width: 1em;
  margin: 0.25em;
  transition: background 0.25s linear;
}

#date-radio .css-button input[type=radio]:checked ~ .check {
  border: 0.4em solid #0DFF92;
}

#date-radio .css-button input[type=radio]:checked ~ .check .check-inside {
  background: #0DFF92;
}

#date-radio .css-button input[type=radio]:checked{
  color: #0DFF92;
}
