/* ==========================================================================
  CSS Rules required for a styling the sleek radio button
   ========================================================================== */
.css-radio .css-button label {
  font-size: 1.35em;
}

.css-radio .css-button:hover label {
  color: #fff;
}

.css-radio .css-button .css-button-label-container {
  border-color: transparent;
}

.css-radio .css-button:hover .css-button-label-container {
  border-color: #fff;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container {
  border-color: #0DFF92;
}

.css-radio .css-button input[type=radio]:checked ~ .css-button-label-container label{
  color: #0DFF92;
}
