* {
	font-family: Helvetica;
}

header {
	text-align:center
}

form {
	margin: 0px auto;
	padding:10px;
	padding-left:10px;
	width:70%;
}
table {
		margin-top:40px;
		width:auto;
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;
		font-size:15px;
		}
table tr {
     width:auto;
}
table td, table th {

        padding: 10px;
		text-align: center;
		float:left;
		width:70px;
        background-color:#ddd;
}
.text {
	color:blue;
}
div.form-item {
	text-align: left;
	margin-top:20px;
	padding-bottom:10px;
}

div.submit {
		text-align: center;
}

span.form-sub-item {
		padding-bottom: 0px;
		padding-left: 10px;
}

input.date-button {
	background-color: #FFFFFF;
	font-size: 16px;
	border: none;
	width: 20px;
	color: #679CCC;
	padding: 5px 35px;
	text-align:leftwards;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:5px;
	white-space:normal;
}

input.date-button:hover {
	background-color:lightgrey;
}

table caption {
		text-align: center;
		margin-bottom: 2%;
}

input.form-submit-button {
	text-align:center;
	font-size: 16px ;
	font-weight:200;
	margin-top:10px;
	padding:5px
}
