/* Main CSS file for site */

html, body {
  /* Ensure html and body takes up full width and height of screen */
  width: 100%;
  height: 100%;
}

/* Height has been partitioned as follows
  Header: 25%
  Main: 70%
*/

/* Style the header */
.header-container {
  text-align: center;
  height: 25%;

  h1 {
    margin: 0;
    padding: 5px 0;
  }
}

/* Style the main container */
.main-container {
  margin: 0 auto;
  width: 90%;
}
