@import 'form-common';

.form-container {

  form {
    $form-item-padding: 2%;

    .form-item {
      padding: $form-item-padding;

      .form-item-input {
        padding: 2% 1% 1% 0;
      }
    }

    .form-item-final {
      padding: ($form-item-padding * 2) $form-item-padding;
    }
  }
}
