html {
  height: 100%;
}

body {
  height: 90%;
}

.form-container {
  width: 90%;
  height: 100%;
  padding: 2% 5%; /* needs different values for mobile devices */
  margin-top: 1em;

  form {
    width: 100%;
    height: 100%;
  }
}
