html {
  height: 100%;
}

body {
  height: 90%;
}

.form-container {
  width: 90%;
  height: 100%;
  padding: 0 5%;
  margin-top: 2%;

  form {
    width: 100%;
    height: 100%;

    $form-item-padding: 2%;

    .form-item {
      padding: $form-item-padding;

      .form-item-input {
        padding: 2% 1% 1% 0;
      }
    }

    .form-item-final {
      padding: ($form-item-padding * 2) $form-item-padding;
    }
  }
}
