/* values for data table */
@import "font-stack";

$table-elevation: 2;
$table-header-font-family: "Roboto Medium";
$table-header-font-color: #373737;
$table-data-font-family: "Roboto Regular";
$table-data-font-color: #3B3B3B;

$checkbox-left-margin: 8px;

$row-border-color: #E0E0E0;
$row-hover-color: #EEEEEE;
$row-border: 1px solid $row-border-color;
