// common values
$header-elevation: 2;
$container-big-screen-elevation: 4;
$container-small-screen-elevation: 0;

// form values
$form-item-padding: 2%;

// value for data table
$table-elevation: 2;
$table-boder-color: #E0E0E0;
$table-cell-hover-color: #EEEEEE;
$checkbox-left-margin: 8px;
$table-header-font-family: "Roboto Medium";
$table-header-font-color: #373737;
$table-data-font-family: "Roboto Regular";
$table-data-font-color: #3B3B3B;
