/* Main CSS file for site */

@import "../node_modules/@material/typography/mixins";
@import "../node_modules/@material/elevation/mixins";

@import "font-stack";
@import "values";

html, body {
  @include mdc-typography-base;
  // Ensure html and body takes up full width and height of screen
  width: 100%;
  height: 100%;
}

/* header styles */
.header-container {
  @include mdc-elevation($header-elevation);
  max-height: $header-max-height;
  text-align: center;

  h1 {
    @include mdc-typography(display1);
    margin: unset;
    padding: $title-padding;
  }
}

/* main container styles */
.main-container {
  @include mdc-elevation($container-big-screen-elevation);
  width: $container-width;
  max-width: $container-max-width; // don't have width more than 90% on smaller screens
  margin: $container-margin;
}

/* Media queries */
@media only screen and (max-height: 600px) {
  header img {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .main-container {
    /* turn off elevation on smaller screens */
    @include mdc-elevation($container-small-screen-elevation);
  }
}
