@import 'form-common';

.form-container {
  form {
    .form-item {
      padding: $form-item-padding;

      .form-item-input {
        padding: 2% 1% 1% 0;

        button:first-child {
          // separate the two buttons
          margin-right: 20%;

          // use different colour for button with
          // lesser importance
          background-color: rgb(75, 75, 75);
        }
      }
    }
  }
}

/* overrides as mdc-grid is being used*/
.form-container {
  form {
    .form-items {
      padding-left: 0;
    }

    .form-item {
      padding-left: 0;
      width: 100%; /* needed to avoid the select bar from crossing boundary of grid */
    }
  }
}
