* {
	font-family: Helvetica;
}

h2
{
	text-align:center
}
form
{
	margin: 0px auto;
	padding:10px;
	width:35%;
}
.title
{
	text-align: left;
	margin-top:0px auto;
	padding-bottom:0px;
}
.content
{
	text-align:center;
	margin-left:40px;
}
.button {
	background-color: #FFFFFF;
	border: none;
	width: 20px;
	color: blue;
	padding: 5px 35px;
	text-align:leftwards;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:5px;
	white-space:normal;
}
.button:hover 	
{
	background-color:lightgrey;
}
.submit
{
	text-align:center;
	font-size: 20px;

}